<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-4">
        <h2>{{ 'WELCOME' }}</h2>
        <small>{{ 'MESSAGEINFO' }}</small>
        <ul class="list-group clear-list m-t" ng-controller="AuxData as dt">
            <li class="list-group-item" data-ng-repeat="todo in dt.todoList">
                <span class="pull-right">{{ todo.time }}</span>
                <span class="label label-success" ng-class="{'first-item': todo.number === 1}">{{ todo.number }}</span> {{ todo.description }}
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <div class="flot-chart dashboard-chart">
            <div flot class="flot-chart-content" dataset="flot.dataset" options="flot.options"></div>
        </div>
        <div class="row text-left">
            <div class="col-xs-4">
                <div class=" m-l-md">
                    <span class="h4 font-bold m-t block">$ 406,100</span>
                    <small class="text-muted m-b block">Sales marketing report</small>
                </div>
            </div>
            <div class="col-xs-4">
                <span class="h4 font-bold m-t block">$ 150,401</span>
                <small class="text-muted m-b block">Annual sales revenue</small>
            </div>
            <div class="col-xs-4">
                <span class="h4 font-bold m-t block">$ 16,822</span>
                <small class="text-muted m-b block">Half-year revenue margin</small>
            </div>

        </div>
    </div>


</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <div>

                                <div class="pull-right text-right">
                                    <bar-chart data="main.BarChart.data" options="main.BarChart.options"></bar-chart>
                                    <br/>
                                    <small class="font-bold">$ 20 054.43</small>
                                </div>
                                <h4>NYS report new data!
                                    <br/>
                                    <small class="m-r"><a ui-sref="flot_chart"> Check the stock price! </a></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Read below comments and tweets</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group" ng-controller="AuxData as ad">
                                <li class="list-group-item"  data-ng-repeat="com in ad.comments">
                                    <p><a class="text-info" href="">{{ com.from }}</a> {{ com.comment }}</p>
                                    <small class="block text-muted"><i class="fa fa-clock-o"></i> {{ com.time }}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Your daily feed</h5>

                            <!-- This is example of local custom ibox tools -->
                            <div class="ibox-tools">
                                <span class="label label-warning-light">10 Messages</span>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list" ng-controller="AuxData as dfeed">

                                    <div class="feed-element" data-ng-repeat="df in dfeed.dailyFeed">
                                        <a ui-sref="profile" class="pull-left">
                                            <img alt="image" class="img-circle" ng-src="{{ df.img }}">
                                        </a>

                                        <div class="media-body ">
                                            <small class="pull-right">{{ df.hour }}</small>
                                            <strong>{{ df.name }}</strong> {{ df.action }} <br> <strong>{{ df.marked }}</strong>
                                            <small class="text-muted">{{ df.time }}</small>
                                            <div class="well" ng-show="df.content !== ''">
                                                {{ df.content }}
                                            </div>
                                            <div class="actions" ng-show="df.buttons">
                                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                                <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Alpha project</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3>You have meeting today!</h3>
                            <small><i class="fa fa-map-marker"></i> Meeting is on 6:00am. Check your schedule to see detail.</small>
                        </div>
                        <div class="ibox-content inspinia-timeline" ng-controller="AuxData as ad">

                            <div class="timeline-item" ng-repeat="meet in ad.meetings">
                                <div class="row">
                                    <div class="col-xs-3 date">
                                        <i class="fa fa-briefcase"></i>
                                        {{ meet.hour }}
                                        <br/>
                                        <small class="text-navy">{{ meet.time }}</small>
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs"><strong>{{ meet.title }}</strong></p>

                                        <p>{{ meet.content }}</p>

                                        <p><line-chart data="main.LineChart.data" options="main.LineChart.options"></line-chart></p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
