/* Put your css in here */

body {
}

footer {
    height: 200px;
}

.icon-search:before {
    content:"\f002";
}
.drawer {
    background: white;
    opacity: 1;
    border-left: 1px solid lightslategray;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    position: absolute;
    top: 0;
    /*left: 0;*/
    right: 0;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
    height: 100%;
    width: 0;
}
.drawer-right {
    /*left: auto;*/
    right: 0;
}
.drawer.collapsed {
    /*width: 0;*/
    /*border: none;*/
    /*-moz-transition: all .15s ease-in-out;*/
    /*-o-transition: all .15s ease-in-out;*/
    /*-webkit-transition: all .15s ease-in-out;*/
    /*transition: all .15s ease-in-out;*/
    right: -100%;
    opacity:0;
    padding:0 10px;
}
.drawer.expanded {
    visibility: visible;
    width: 30%;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.handle {

}
.handle-right {

}

.input-transparente {
    width: 70px;
    height: 19px;
    margin: auto;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.input-transparente-tabela {
    /*width: 70px;*/
    height: 19px;
    margin: auto;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

.select-transparente-tabela {
    /*width: 70px;*/
    /*height: 25px;*/
    margin: auto;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

#painel-produtos {
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 1;
    z-index: 10;
}

.animate-hide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    transition:all linear 0.1s;
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border-left: 1px solid lightslategray;
    background: white;
    position: absolute;
    right: 0;

}

.animate-hide.ng-hide {
    right: -100%;
    opacity:0;
    padding:0 10px;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

/*Buttons*/

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

/*Despesas Views*/

.radio-inline, .checkbox-inline {
    margin: 30px 0 0 0;
    font-size: 1.1em;
}

.produto-estudo-activity-header-list {
    border-bottom: 2px solid #e7eaec;
    text-align: center;
}

.produto-estudo-element-header {
    margin-bottom: 30px;
}

.produto-estudo-activity-list .produto-estudo-element {
    border-bottom: 1px solid #e7eaec;
}
.produto-estudo-element:first-child {
    margin-top: 20px;
}
.produto-estudo-element {
    padding-bottom: 15px;
}
.produto-estudo-element,
.produto-estudo-element .media {
    margin-top: 15px;
}
.produto-estudo-element,
.media-body {
    overflow: hidden;
    margin-top: 10px;
}
.produto-estudo-element > .pull-left {
    margin-right: 10px;
}
.produto-estudo-element img.img-circle,
.dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}
.produto-estudo-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}
.produto-estudo-element .actions {
    margin-top: 10px;
}
.produto-estudo-element .photos {
    margin: 10px 0;
}

.produto-estudo-unity {
    margin: auto;
}

.text-strikethrough {
    text-decoration: line-through;
}

.v-toolmenu-top-row {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background-color: #ffffff;*/

    border-color: #e7eaec;
    border-image: none;
    border-style: none solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 10px;
    /*padding-top: 15px;*/
    padding: 15px 5px;
    min-height: 48px;
}

.v-toolmenu-top-row h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.v-toolmenu-top-row .label {
    float: left;
    margin-left: 4px;
}
